@media only screen and (min-width: 992px ){
    .course-link {
        text-align: center;
    }
    .list-group {
        background-color: #212529;
    }

}

@media only screen and (max-width: 992px) {
    .category-length {
        color: brown;
        margin-bottom: 5px;
    }
}