.main-container {
    background-image: url('../../../assets/logres/AP-EAMCET-2020.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-style {
    color: white;
}

.form-container {
    background-image: url('../../../assets/logres/img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    border-radius: 20px;
    margin: 0 auto;
    width: 50%;
}

@media only screen and (max-width: 576px) {

    .form-container {
        padding: 10px;
        margin: 0;
        width: 100%;
        border-radius: 5px;
    }
}